.App{
  scroll-behavior: smooth;
}

.secondary-color {
  color: #0d263b;
}

.main-color {
  color: #0061e0;
}

.text-color {
  color: #0a0a0a;
}

.info-color {
  color: #7c8893;
}

.button {
  background-color: #0061e0;
  color: #fafafa;
  border: none;
  padding: 0.8rem;
  border-radius: 4%;
  font-size: 0.8rem;
}

.center-blue-p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0061e0;
  font-size: 3vh;
}

.center-main-add{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 620;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

